<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form action="#" th:action="@{/}" th:object="${personaForm}" method="post">
            <table>
                <tr>
                    <td>Nombre:</td>
                    <td><input type="text" th:field="*{nombre}" /></td>
                    <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</td>
                </tr>
                <tr>
                    <td>Edad:</td>
                    <td><input type="text" th:field="*{anio}" /></td>
                    <td th:if="${#fields.hasErrors('anio')}" th:errors="*{anio}">Error Edad</td>
                </tr>
                <tr>
                    <td><button type="submit">Enviar</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>